<div class="internships">
    <h2 style="font-weight: bold;">internships</h2>
    {% if site.internships  %}
      {% assign internships = site.internships | reverse %}
      {% for item in internships limit: site.internships_limit %}
        {% if item.logo == "ibm.png" %}
          <b> {{ item.title }} </b> &nbsp; <img src="/assets/img/{{ item.logo }}" style="width: 40px; height: 16px;">
          <br>
          {{ item.location }} <span style="float:right;">{{ item.datetime }}</span>
          <br><br>
        {% endif %}
        {% if item.logo == "aws.png" %}
          <b> {{ item.title }} </b> &nbsp; <img src="/assets/img/{{ item.logo }}" style="width: 40px; height: 25px;">
          <br>
          {{ item.location }} <span style="float:right;">{{ item.datetime }}</span>
          <br><br>  
        {% endif %}
       {% endfor %}
    {% else %}
      <p>No data so far...</p>
    {% endif %}
  </div>
