<div class="talks">
    <h2 style="font-weight: bold;">talks</h2>
    {% if site.talks  %}
      {% assign talks = site.talks | reverse %}
      {% for item in talks limit: site.talks_limit %}
        <b>{{ item.title }}</b><a href="{{ item.link }}" target="_blank"><img src="/assets/img/youtube.png" width="40px" height="30px"/></a>
        <br>
        {{ item.location }} <span style="float:right;">{{ item.datetime }}</span>
        <br><br>
      {% endfor %}
    {% else %}
      <p>No data so far...</p>
    {% endif %}
  </div>
