<div class="my-3 p-3 bg-white shadow-sm rounded-xl">
  <div class="row">
    <section class="col-lg-6" aria-labelledby="education-heading">
      <h2 id="education-heading" class="h6 mb-3">Education</h2>
      <ul class="list-unstyled mb-0">
        {% for item in site.data.profile.education %}
        <li class="background-item mb-3">
          <img src="{{ item.logo | relative_url }}" alt="" class="background-logo">
          <div class="small">
            <div class="font-weight-bold">{{ item.institution }}</div>
            <div>{{ item.degree }}</div>
            <div class="text-muted">{{ item.dates }}</div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>
    {% if page.work_experience %}
    <section class="col-lg-6" aria-labelledby="work-heading">
      <h2 id="work-heading" class="h6 mb-3">Work Experience</h2>
      <ul class="list-unstyled mb-0">
        {% assign internships = site.internships | reverse %}
        {% for item in internships %}
        <li class="background-item mb-3">
          <img src="{{ '/assets/img/' | append: item.logo | relative_url }}" alt="" class="background-logo">
          <div class="small">
            <div class="font-weight-bold">{{ item.title }}</div>
            <div>{{ item.location }}</div>
            <div class="text-muted">{{ item.datetime }}</div>
            {{ item.content }}
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}
  </div>
</div>
