<div class="row sticky-top" style="top: 80px">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body px-4 pt-4 pb-3">
                <div class="row">
                    <div class="col">
                        {% if site.data.profile.portrait_url %}
                        <!-- When the screen is wider than md, float the portrait on the right -->
                        <div class="figure d-none d-md-block">
                            <img 
                                src="{{ site.data.profile.portrait_url | relative_url }}" 
                                class="figure-img img-fluid" alt="{{ site.data.profile.primary_name | escape }}" 
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="{{ site.data.profile.portrait_caption }}">
                        </div>
                        <div class="mb-3 d-md-none text-center">
                            <img src="{{ site.data.profile.portrait_url | relative_url }}" class="rounded-circle" style="max-width: 50%;" alt="Portrait">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center h4">
                        {{ site.data.profile.primary_name }}
                    </div>
                </div>

                <div class="row small">
                    <div class="col text-center">
                        {% for position in site.data.profile.positions %}
                        {{ position.name }}<br/>
                        {% endfor %}
                    </div>
                </div>

                <div class="row small">
                    <div class="col text-center">
                        <a class="email-text" href="mailto:{{ site.data.profile.email | encode_email }}">
                            {{ site.data.profile.email | replace: "@", "(at)" }}
                        </a>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col text-center h4">
                        {% if site.data.profile.gscholar %}
                        {%- if site.data.profile.gscholar contains 'scholar.google' -%}
                        {%- assign gscholar_url = site.data.profile.gscholar -%}
                        {%- else -%}
                        {%- assign gscholar_url = 'https://scholar.google.com/citations?user=' | append: site.data.profile.gscholar -%}
                        {%- endif -%}
                        <a class="px-1 no-break" target="_blank" rel="noopener noreferrer" href="{{ gscholar_url }}" aria-label="Google Scholar">
                            <i class="fab fa-google-scholar" aria-hidden="true"></i><span class="sr-only">Google Scholar</span>
                        </a>
                        {% endif %}
                        
                        {% if site.data.profile.github %}
                        <a class="px-1 no-break" target="_blank" rel="noopener noreferrer" href="https://github.com/{{ site.data.profile.github }}" aria-label="GitHub">
                            <i class="fab fa-github" aria-hidden="true"></i><span class="sr-only">GitHub</span>
                        </a>
                        {% endif %}

                        {% if site.data.profile.twitter %}
                        <a class="px-1 no-break" target="_blank" rel="noopener noreferrer" href="https://twitter.com/{{ site.data.profile.twitter }}" aria-label="Twitter">
                            <i class="fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
                        </a>
                        {% endif %}

                        {% if site.data.profile.linkedin %}
                        <a class="px-1 no-break" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}" aria-label="LinkedIn">
                            <i class="fab fa-linkedin" aria-hidden="true"></i><span class="sr-only">LinkedIn</span>
                        </a>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
