---
layout: default
title: Blog
navbar_title: Blog
permalink: /blog/
---

{% assign blogs_by_year = site.blogs | sort: 'date' | reverse | group_by_exp: 'item', "item.date | date: '%Y'" %}
<h1 class="h3 mb-4">Blog</h1>
<div class="row">
  <div class="col-lg-10">
    {% for year in blogs_by_year %}
    <section class="mb-4" aria-labelledby="blog-year-{{ year.name }}">
      <h2 id="blog-year-{{ year.name }}" class="h4 mb-3">{{ year.name }}</h2>
      <div class="bg-white shadow-sm rounded-xl">
        {% for post in year.items %}
        <article class="p-4 {% unless forloop.last %}border-bottom{% endunless %}">
          <h3 class="h5 mb-2"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          {% if post.description %}<p class="mb-2">{{ post.description }}</p>{% endif %}
          <time class="small text-muted" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%b %d, %Y' }}</time>
        </article>
        {% endfor %}
      </div>
    </section>
    {% endfor %}
  </div>
  <aside class="col-lg-2 d-none d-lg-block">
    <nav class="sticky-top blog-years" aria-label="Blog years">
      {% for year in blogs_by_year %}
      <a class="d-block py-2" href="#blog-year-{{ year.name }}">{{ year.name }}</a>
      {% endfor %}
    </nav>
  </aside>
</div>
