---
layout: default
---

<div class="post">

  {% if page.archive_year %}
    {% assign archive_year = page.archive_year %}
  {% else %}
    {% assign archive_year = page.date | date: "%Y" %}
  {% endif %}

  <header class="post-header">
    <h1 class="post-title"><i class="fas fa-calendar fa-sm"></i> {{ archive_year }}</h1>
    <p class="post-description">an archive of news from this year</p>
  </header>

  <article>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% assign archive_from_page = true %}
        {% if page.posts == empty or page.posts == nil %}
        {% assign archive_from_page = false %}
        {% assign archive_posts = site.news | sort: 'date' | reverse %}
        {% else %}
        {% assign archive_posts = page.posts %}
        {% endif %}
        {% for post in archive_posts %}
        {% assign post_year = post.date | date: "%Y" %}
        {% if archive_from_page or post_year == archive_year %}
        <tr>
          <th scope="row">{{ post.date | date: "%b %-d, %Y" }}</th>
          <td>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
      </table>
    </div>
  </article>

</div>
